/*Size2 (800px)*/
@media screen and (min-width: 800px) {
	main div h2 {
		font-size: 45px;
		padding: 20px 10% 0px 10%;
		text-align: right;
	}
	main div h3 {
		font-size: 27px;
		padding: 20px 10% 10px 10%;
		text-align: left;
	}
	main div p {
		font-size: 23px;
		padding: 0px 10% 20px 10%;
		text-align: left;
	}
	main div ul {
		font-size: 23px;
		padding: 20px 10% 20px 10%;
	}
	/*Navigation*/
	header, nav {
		height: 120px;
	}
	.logo {
		color: #112132;;
		font-size: 35px;
	}
	.nav-links a {
		font-size: 23px;
	}
	/*Aside*/
	aside {
		margin-top: 150px;
	}
	aside div {
		padding: 20px 10%;
	}
	/*Grid*/
	body {
		display: grid;
		grid-template-columns: 1fr minmax(200px,1400px) 1fr;
	}
	header, footer, aside {
		grid-column: 1/4;
	}
	main {
		grid-column: 2/3;

		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 110px;
	}
	main section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 40px;
	}
	.section-a div, .section-e div, .section-g div {
		grid-column: 1/3;
	}
}