/*Size1 (799px <= Screen)*/
@media screen and (max-width: 799px) {
  /*Main Content Style*/
  main div h2 {
    font-size: 25px;
    margin: 0px;
    padding: 50px 10% 30px 10%;
  }
  main div h3 {
    font-size: 22px;
    padding: 20px 10% 0px 10%;
  }
  main div p {
    font-size: 20px;
    margin: 0px;
    padding: 0px 10% 20px 10%;
  }
  main div li {
    font-size: 20px;
    margin: 0px;
    padding: 0px 10% 20px 10%;
  }
  /*Aside*/
  aside div {
    padding: 20px 10%;
  }
  /*Navigation*/
  .logo {
    color: #112132;
    font-size: 25px;
  }
  header, nav {
    height: 90px;
  }
  header {
    position: fixed;
    background-color: white;
  }
  main {
    padding-top: 90px;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    top: 90px;
		height: 250px;
    background-color: #ffffff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .nav-links a {
    font-size: 19px;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  display: flex;
}