---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SectionTitle from '../components/common/SectionTitle.astro';
import SubSectionTitle from '../components/common/SubSectionTitle.astro';
---

<Layout title="Hausarztpraxis Udligenswil">
	<main>
    <Header />
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 sm:px-16">
        <div class="py-6 pt-8 mx-2 lg:py-8 lg:pt-12 text-justify">
          <SectionTitle title="Datenschutzerklärung" />
<p class="py-2"> Willkommen auf der Website unserer Arztpraxis. In dieser
Datenschutzerklärung erläutern wir, wie wir personenbezogene Daten auf unserer
Website (A.) und im Rahmen der Patientenbehandlung in unserer Arztpraxis (B.)
erheben und bearbeiten und wir erläutern Ihre Rechte (C.). Unter Personendaten
werden alle Angaben verstanden, die sich auf eine bestimmte oder bestimmbare
Person beziehen. Die Erhebung und die Verarbeitung Ihrer personenbezogenen
Daten geschehen unter Beachtung der geltenden datenschutzrechtlichen Gesetze
und Anforderungen. Im Übrigen lehnt die Arztpraxis jegliche Haftung bei der
Nutzung dieser Website ab. Grundsätzlich bietet unsere Arztpraxis ihre
Dienstleistungen nur in der Schweiz an und richtet sich nur an in der Schweiz
wohnhafte Personen. Verantwortlich für die Datenbearbeitung ist: </p>

<p class="py-2 font-medium"> Hausarztpraxis Udligenswil<br>
Dorfstrasse 21, 6044 Udligenswil </p>

<p class="py-2"> Wenn Sie Fragen über unseren Umgang mit Personendaten oder
sonstige datenschutzrechtliche Anliegen haben, können Sie uns unter der
vorgenannten Adresse, per E-Mail praxis.udligenswil@hin.ch oder Telefon 041 371
14 14 kontaktieren. </p>

<SubSectionTitle title="A. Nutzung Website" /> <h2 class="pt-2 pb-1 text-xl
font-medium"> Erhebung und Zweck der Bearbeitung </h2> 
<p>Mit jedem Aufruf der Website werden eine Reihe von allgemeinen Daten und
Informationen erfasst. Diese allgemeinen Daten und Informationen werden in den
Logfiles des Servers gespeichert. Erfasst werden können (1) die verwendeten
Browsertypen und Versionen, (2) das vom zugreifenden System verwendete
Betriebssystem, (3) die Website, von welcher ein zugreifendes System auf unsere
Website gelangt (sogenannte Referrer), (4) die Unterwebsites, welche über ein
zugreifendes System auf unserer Website angesteuert werden, (5) das Datum und
die Uhrzeit eines Zugriffs auf die Website, (6) eine Internet-
Protokoll-Adresse (IP-Adresse), (7) der Internet-Service-Provider des
zugreifenden Systems und (8) sonstige ähnliche Daten und Informationen, die der
Gefahrenabwehr im Falle von Angriffen auf unsere IT-Infrastruktur dienen. </p> 
<p> Diese Daten und Informationen werden benötigt, um (1) die Inhalte unserer
Website korrekt darzustellen, (2) die Inhalte unserer Website zu optimieren,
(3) die dauerhafte Funktionsfähigkeit unserer IT-Infrastruktur und der Technik
unserer Website zu gewährleisten sowie um (4) im Falle eines Cyberangriffes den
Strafverfolgungsbehörden die notwendigen Informationen bereitzustellen.</p>

<p> Weiter kann unsere Arztpraxis diese Daten und Informationen einerseits
statistisch und ferner mit dem Ziel auswerten, den Datenschutz und die
Datensicherheit ihrer IT- Infrastruktur zu erhöhen. Die erhobenen Daten und
Informationen werden nur zu den eben erwähnten Zwecken bearbeitet und werden
anschliessend gelöscht. </p>

<h2 class="pt-6 pb-1 text-xl font-medium"> Links anderer Websites </h2> 
<p>Diese Website kann Links zu Websites anderer Anbieter enthalten. Unsere
Arztpraxis hat keinen Einfluss auf diese Websites, deren Inhalte, Angebote oder
Verfügbarkeit oder die dort geltenden Datenschutzerklärungen und -bestimmungen.
Sie lehnt daher jegliche Haftung ab. </p>


<h2 class="pt-6 pb-1 text-xl font-medium"> Cookies und weitere Serviceangebote </h2> 
<p> Die Webseite unserer Arztpraxis verwendet keine Cookies. </p>

<h2 class="pt-6 pb-1 text-xl font-medium"> Serviceangebote von Drittanbieter </h2> 
<p> Unsere Arztpraxis kann weitere Serviceangebote von Drittanbietern
nutzen, um deren Inhalte und Services wie z.B. Videos oder Beiträge in die
Website einzubinden. Eine entsprechende Einbindung setzt immer voraus, dass
diese Drittanbieter die IP-Adresse und weitere Informationen der Besucher
dieser Website erfassen und verarbeiten können. Mit der Nutzung unserer Website
erklären Sie sich damit einverstanden. </p>


<h2 class="pt-6 pb-1 text-xl font-medium"> Kommunikationsmöglichkeiten</h2> <p>
Die Website unserer Arztpraxis enthält gewisse Angaben, die eine schnelle
elektronische Kontaktaufnahme sowie eine unmittelbare Kommunikation
ermöglichen, was ebenfalls eine allgemeine E-Mail-Adresse umfasst. Nehmen Sie
über die auf unserer Website angebotenen Kommunikationsmöglichkeiten Kontakt
mit uns auf, werden Ihre Kontaktangaben und Inhalte lediglich zur Bearbeitung
und Beantwortung Ihrer Anfrage verwendet. Bitte beachten Sie: Es kann nicht
sichergestellt werden, dass Ihre Daten vertraulich übermittelt werden. Deshalb
sollen bei dieser Kontaktaufnahme keine vertraulichen Daten (medizinische
Anliegen etc.) übermittelt werden. </p>

<SubSectionTitle title="B. Patientenbehandlung" />
<h2 class="pt-2 pb-1 text-xl font-medium"> Erhebung und Zweck der Datenbearbeitung</h2>
<p>Die Bearbeitung (Erhebung, Speicherung, Verwendung sowie Aufbewahrung) Ihrer
Daten erfolgt aufgrund des Behandlungsvertrages und gesetzlicher Vorgaben zur
Erfüllung des Behandlungszwecks sowie zu den damit verbundenen Pflichten. Die
Erhebung von Daten erfolgt einerseits durch die/den behandelnde/n Ärztin/Arzt
im Rahmen Ihrer Behandlung. Andererseits erhalten wir auch Daten von weiteren
Ärztinnen/Ärzten und Gesundheitsfachpersonen, bei denen Sie in Behandlung waren
oder sind, falls Sie hierfür Ihre Einwilligung gegeben haben. In Ihrer
Krankengeschichte werden nur Daten bearbeitet, die im Zusammenhang mit Ihrer
medizinischen Behandlung stehen. Die Krankengeschichte umfasst die auf dem
Patientenformular gemachten persönlichen Angaben wie Personalien, Kontaktdaten
und Versicherungsangaben sowie unter anderem das im Rahmen der Behandlung
durchgeführte Aufklärungsgespräch, erhobene Gesundheitsdaten wie Anamnesen,
Diagnosen, Therapievorschläge und Befunde. </p>


<h2 class="pt-6 pb-1 text-xl font-medium">Dauer der Aufbewahrung</h2>
<p> Wir verarbeiten und speichern Ihre Personendaten, solange es für die
Erfüllung unserer vertraglichen und gesetzlichen Pflichten oder sonst für die
mit der Bearbeitung verfolgten Zwecke erforderlich ist. Ihre Krankengeschichte
wird während 20 Jahren nach Ihrer letzten Behandlung aufbewahrt. Danach wird
sie mit Ihrer ausdrücklichen Einwilligung weiter aufbewahrt oder sicher
gelöscht bzw. vernichtet. </p>

<h2 class="pt-6 pb-1 text-xl font-medium">Weitergabe der Daten</h2>
<p> Ihre Personendaten und insbesondere Ihre medizinischen Daten übermitteln wir
nur dann an externe Dritte, wenn dies gesetzlich erlaubt oder verlangt ist oder
wenn Sie im Rahmen Ihrer Behandlung in die Weitergabe der Daten eingewilligt
haben. </p>
<ul class="list-disc pl-5 pt-2">
<li>Die Übermittlung an Ihre Krankenversicherung bzw. an die Unfall- oder
Invalidenversicherung erfolgt zum Zweck der Abrechnung der Ihnen gegenüber
erbrachten Leistungen. Die Art der übermittelten Daten orientiert sich dabei an
den gesetzlichen Vorgaben.</li>
<li>Die Weitergabe an kantonale sowie nationale Behörden (z.B. kantonsärztlicher Dienst,
Gesundheitsdepartemente etc.) erfolgt aufgrund gesetzlicher Meldepflichten.</li>
<li>Optional: Die Weitergabe der notwendigen Patienten- und Rechnungsdaten an das
Inkassobüro erfolgt zwecks Inkasso (Einziehen von fälligen Geldforderungen).
Im Einzelfall, abhängig von Ihrer Behandlung und Ihrer entsprechenden Einwilligung, erfolgt
die Übermittlung von Daten an weitere berechtigte Empfänger (z.B. Labore, andere Ärztinnen
und Ärzte).</li>
</ul>

<h2 class="pt-6 pb-1 text-xl font-medium">Widerruf Ihrer Einwilligung</h2>
<p>Haben Sie für eine Datenbearbeitung Ihre ausdrückliche Einwilligung gegeben,
können Sie eine bereits erteilte Einwilligung jederzeit ganz oder teilweise
widerrufen. Der Widerruf oder der Wunsch nach Änderung einer Einwilligung hat
schriftlich zu erfolgen. Sobald wir Ihren schriftlichen Widerruf erhalten haben
und die Bearbeitung auf keine andere Rechtsgrundlage als die Einwilligung
gestützt werden kann, wird die Bearbeitung eingestellt. Die Rechtmässigkeit der
bis zum Widerruf erfolgten Datenbearbeitung bleibt vom Widerruf unberührt. </p>

<SubSectionTitle title="C. Allgemeine Hinweise" />

<h2 class="pt-2 pb-1 text-xl font-medium">Ihre Rechte </h2>
<p>Gestützt auf das Datenschutzgesetz haben Sie verschiedene Rechte. Zur Geltendmachung
Ihrer Rechte setzen Sie sich bitte mit der Arztpraxis in Verbindung. Wir stehen Ihnen für
weitere diesbezügliche Informationen gerne zur Verfügung.</p>

<ul class="list-disc pl-5 pt-2">
<li>Auskunft, Einsicht und Herausgabe<br>
Sie haben jederzeit das Recht, Auskunft zu Ihren Personendaten zu erhalten. Sie
können Ihre Krankengeschichte einsehen oder auch eine Kopie verlangen. Die
Herausgabe der Kopie kann kostenpflichtig sein. Allfällige Kosten, welche vom
Aufwand der Erstellung der Kopie abhängen, werden Ihnen vorgängig bekannt
gegeben.</li>

<li>Recht auf Datenübertragung<br>
Sie haben das Recht, Daten, die wir automatisiert bzw. digital verarbeiten, an sich
oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu
lassen. Dies gilt insbesondere auch bei der Weitergabe von medizinischen Daten an
eine von Ihnen gewünschte Gesundheitsfachperson. Sofern Sie die direkte
Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies
nur, soweit es technisch machbar ist.</li>

<li>Berichtigung Ihrer Angaben<br>
Wenn Sie feststellen oder der Ansicht sind, dass Ihre Daten nicht korrekt oder
unvollständig sind, haben Sie die Möglichkeit, eine Berichtigung zu verlangen. Kann
weder die Korrektheit noch die Unvollständigkeit Ihrer Daten festgestellt werden,
haben Sie die Möglichkeit auf die Anbringung eines Bestreitungsvermerks.</li>
</ul>

<h2 class="pt-6 pb-1 text-xl font-medium">Änderungen </h2>
<p> Unsere Arztpraxis kann diese Datenschutzerklärung jederzeit ohne
Vorankündigung anpassen. Es gilt die jeweils aktuelle, auf unserer Website
publizierte Fassung. Soweit die Datenschutzerklärung Teil eines Vertrages mit
Ihnen ist, werden wir Sie im Falle einer Aktualisierung über die Änderung per
E-Mail oder auf andere geeignete Weise informieren.</p>
			</div>
		</div>
</section>
    <Footer />
	</main>
</Layout>
