---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SectionTitle from '../components/common/SectionTitle.astro';
import SubSectionTitle from '../components/common/SubSectionTitle.astro';
---

<Layout title="Impressum">
	<main>
    <Header />
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 sm:px-16">
        <div class="py-6 pt-8 mx-2 lg:py-8 lg:pt-12 text-justify">
          <SectionTitle title="Impressum" />

<p class="py-2 font-medium"> Hausarztpraxis Udligenswil<br>
Dorfstrasse 21, 6044 Udligenswil<br>
praxis.udligenswil@hin.ch<br>
Vertretungsberechtigte Person: Dr. med. Claudia Waldleben
</p>

<h2 class="pt-10 pb-1 text-xl font-medium"> Haftungsauschluss </h2> 
<p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der
Informationen.

Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller
Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der
veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch
technische Störungen entstanden sind, werden ausgeschlossen.

Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor,
Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung zu
verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
endgültig einzustellen.</p>

<h2 class="pt-4 pb-1 text-xl font-medium"> Haftungsauschluss für Links </h2> 
<p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten
abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene
Gefahr des jeweiligen Nutzers.</p>

<h2 class="pt-4 pb-1 text-xl font-medium"> Urheberrechte </h2> 
<p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen
Dateien auf dieser Website, gehören ausschliesslich der Firma Hausarztpraxis
Obernau AG oder den speziell genannten Rechteinhabern. Für die Reproduktion
jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im
Voraus einzuholen.</p>
			</div>
		</div>
    </section>
    <Footer />
	</main>
</Layout>
