---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ShowCase from '../components/ShowCase.astro';
import Footer from '../components/Footer.astro';
import SectionTitle from '../components/common/SectionTitle.astro';
import { infosNotfall } from '../components/common/Infos.astro';
---

<Layout title="Hausarztpraxis Udligenswil">
	<main>
    <Header />
    <ShowCase />
		<div class="py-4 pt-8 px-4 sm:px-6 lg:py-3 lg:pt-8">
    <SectionTitle title="Notfall" />
		<div class="flex flex-col sm:items-center sm:mx-auto sm:text-center">
			{
				infosNotfall.map(({ items, items2 }) => (
					<div class="max-w-6xl pb-6">
						{items && Array.isArray(items) && items.length > 0 && (
							<ul>{items.map((text) => (<li >{text}</li>))}</ul>
						)}
						{items2 && Array.isArray(items2) && items2.length > 0 && (
							<ul class="pt-4">{items2.map((text) => (<li>{text}</li>))}</ul>
						)}
					</div>
				))
			}
		</div>
		</div>
    <Footer />
	</main>
</Layout>
