---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ShowCase from '../components/ShowCase.astro';
import Footer from '../components/Footer.astro';
import SectionTitle from '../components/common/SectionTitle.astro';
---

<Layout title="Notfall">
	<main>
    <Header />
    <ShowCase />
		<div class="py-6 pt-8 lg:py-8 lg:pt-12">
      <SectionTitle title="Notfall" />
		</div>
    <Footer />
    <Footer />
	</main>
</Layout>
