<footer class="footer">
  <div class="container">
    <div>
      <h3>Kontakt</h3>
      <p>041 371 14 14<br>praxis.udligenswil@hin.ch<br>Dorfstrasse 21<br>6044 Udligenswil</p>
    </div>
    <div>
      <h3>Telefonzeiten</h3>
      <p>Mo/Mi/Fr<br>8:00 - 11:45 Uhr<br>14:00 bis 17:30 Uhr<br>Di/Do<br>8:00 - 11:45</p>
    </div>
    <div>
      <h3>Öffnungszeiten</h3>
      <p><b>Dr. med. Claudia Waldleben</b><br>Mi/Fr ganztags<br>Dienstag vormittags</p>
      <p><b>Dr. med. Eva Hess - Arnold</b><br>Montag ganztags<br>Donnerstag vormittags</p>
      <p>Sprechstunden nach Vereinbarung</p>
    </div>
    <div>
      <h3>Notfall</h3>
      <p>Ärztlicher Notfalldienst<br>0900 11 14 14 (CHF 3.23/min)</p>
      <p>Beratungstelefon Kinderspital Luzern<br>0900 55 47 74 (CHF 3.23/min)</p>
    </div>
  <div>
    <p>&copy; 2023 Hausarztpraxis Udligenswil</p>
  </div>
  </div>
</footer>

<style>
  .footer {
    background: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer h3 {
    margin-bottom: 10px;
  }
  .footer div:nth-child(1) {
    text-align: center;
  }
  @media (max-width: 500px) {
    .footer .container {
    }
  }
</style>
