---
import { infos } from '../components/common/Infos.astro';
---

<footer class="bg-primary-dark">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-10 sm:gap-8 py-10 md:py-14">
			<div class="col-span-12 lg:col-span-3">
				<div class="mb-2">
					<a class="text-tertiary inline-block font-bold text-2xl" href="/">Hausarztpraxis<br>Udligenswil</a>
				</div>
				<div class="text-base">
					<a
						class="text-secondary-light hover:text-tertiary hover:underline transition duration-150 ease-in-out"
						href="/impressum">Impressum</a
					> 
				</div>
				<div class="text-base">
					<a
						class="text-secondary-light hover:text-tertiary hover:underline transition duration-150 ease-in-out"
						href="/datenschutz">Datenschutz</a
					> 
				</div>
			</div>
			{
				infos.map(({ title, items, items2 }) => (
					<div class="text-secondary-light col-span-6 md:col-span-3 lg:col-span-2">
						<div class="text-secondary-light font-medium mb-3">{title}</div>
						{items && Array.isArray(items) && items.length > 0 && (
							<ul class="text-base leading-[1.05rem]">
								{items.map((text) => (<li class="mb-2">{text}</li>))}
							</ul>
						)}
						{items2 && Array.isArray(items2) && items2.length > 0 && (
							<ul class="text-base leading-[1.05rem] pt-4">
								{items2.map((text) => (<li class="mb-2">{text}</li>))}
							</ul>
						)}
					</div>
				))
			}
		</div>
		<div class="md:flex md:items-center md:justify-between pb-6 md:pb-8">
			<div class="text-base r-4 text-secondary-light">
        <p>&copy; 2023 Hausarztpraxis Udligenswil</p>
			</div>
		</div>
	</div>
</footer>
