---
---

<header class="header">
  <div class="container">
    <div class="logo">
      <h1>udlimed.</h1>
		</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li><a href="/notfall">Notfall</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    height: 70px;
    background: #fff;
  }

  .header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .header nav .logo {
    color: var(--color-primary);
    display:
  }

  .header nav ul {
    display: flex;
  }

  .header nav ul li {
    padding: 0 10px;
  }

  .header nav ul li a {
    color: var(--color-primary);
  }
</style>
