---
import SectionTitle from '../components/common/SectionTitle.astro';

const posts = await Astro.glob('../pages/posts/*.md');
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-6 pt-8 lg:py-8 lg:pt-12">
      <SectionTitle title="News" />
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-2 items-start my-4">
				{
         posts.map((post) =>
						<div class="bg-primary-dark relative flex flex-col p-6 hover:shadow-lg transition">
							<div class="flex align-center mb-4">
								<div class="text-xl text-tertiary font-medium">{post.frontmatter.title}</div>
							</div>
							<div class="">
                <post.Content />
              </div>
						</div>
        )}
			</div>
		</div>
	</div>
</section>

