---
import panorama from '../images/panorama.jpg'

export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}
const { heading = "Hausarztpraxis Udligenswil" } = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
  </div>
</section>

<style>
  .showcase {
  height: auto;
  background-color: var(--color-secondary);
  background-image: linear-gradient(to bottom, var(--color-primary), rgb(15 23 42 / 0));
  padding: 30px;
  }
  .showcase-blog {
    min-height: 300px;
  }
  .showcase-text {
    max-width: 500px;
    color: var(--color-secondary);
    text-align: center;
    margin: 50px auto;
  }
  .showcase h1 {
    font-size: 40px;
    color: var(--color-primary);
    margin-bottom: 20px;
  }
  .showcase p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .showcase-img {
    text-align: center;
  }
  .showcase-img img {
    border-radius: 10px;
    margin: auto;
  }
</style>
