---
---

<section>
	<div class="bg-[url('src/assets/images/panorama.jpg')] bg-no-repeat bg-cover bg-top">
		<div class="py-10 md:py-20">
	    <div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-3xl text-primary md:text-[3.50rem] mb-4">
					Hausarztpraxis
          <span class="sm:whitespace-nowrap">Udligenswil</span>
				</h1>
			</div>
			</divr>
		</div>
	</div>
</section>
